/* ------ para el darkMode --------- */
@import "../../Styles/colors.css";
/* --------------------------------- */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;

  }
  
  .prevNext {
    border: none;
    background-color: var(--color-pagination);
    color: black;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .prevNext:hover {
    background-color: #68a19d;
  }
  
  .button {
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #68a19d;
  }

  .active {
    background-color: var(--color-pagination);
    color: #d8d8d8;
  }

  /* Estilos para los botones de flecha */
.arrowButton {
  border: none;
  color: white;
  background-color: var(--color-pagination);
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.arrowButton:hover {
  background-color: #5988b2;
}

/* Estilos para los números de página */
.pageButton {
  border: none;
  background-color: transparent;
  color: var(--color-text);
  font-size: 16px;
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #5988b2;
}

.active {
  background-color: var(--color-pagination);
  color: #d8d8d8;
}