@import "../../Styles/colors.css";

.accordionContainerA {
    width: 100%;
    color: var(--color-freq-quest);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 7rem;
    padding-bottom: 1rem;
    
  }
  
  .accordionContainerB {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-gap: 9px;
    color:#285f66;
    /* padding-left: 3rem; */
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-right: 15px;
  
  }
  
  .accordion {
    border-radius: 3px;
    width: 45%;
    background-color: #ebedf0;
    border-left: 4px solid #7b8c9b;
    
  }
  
  .accordionHeading {
    padding: 1rem;
    display: flex;
    grid-gap: 10px;
    align-items: flex-start;
    cursor:pointer;
    transition: height 3.3s ease-in-out;
  }
  
  .accordionHeading > h3 {
    font-weight: 600;
    font-size: 1rem;
    transition: height 3.3s ease-in-out;
  }
  
  .addIcon {
    transform-origin: center;
    transition: 4.2s ease-in-out;
    transition: height 0.3s ease-in-out;
  }
  
  .accordionContent {
    padding-left: 3rem;
    margin-bottom: 1rem;
    transition: height 5.6s ease-in-out;
    transition: height 0.3s ease-in-out;
    text-align: left;
  }
  
  .accordion.active {
    max-height: 2000px;
    transition: height 0.3s ease-in-out;
  }
  
  .titleContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    grid-gap: 9px;
    padding-left: 2rem;
  }
  
  .title {
    /* color: rgb(46, 61, 78); */
    font-size: 26px;
    font-weight: bold;
  }
  
  .title h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .green {
    color: rgb(58, 82, 110); 
  }


