.return-policies-container {
    text-align: center;
    margin: auto;
    width: 100%;
    color: rgb(46, 61, 78);
  }
  
  .return-policies-title {
    margin-top: 8%;
    font-size: 34px;
    color: rgb(46, 61, 78);
    margin-bottom: 3%;
  }
  
  .return-policies-content {
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    width: 90%;
    margin-left: 3%;
  }
  
  .return-policies-content h3 {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .return-policies-content p {
    margin-top: 10px;
  }