/* Landing.css */
.landing-page {
  color: rgb(255, 255, 255);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 10px;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-color: black;
}

.logo {
  font-size: 24px;
}

.buttons {
  display: flex;
}

.buttonLog,
.buttonSign,
.buttonAbout {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 26px;
  margin-left: 10px;
}

.content {
  position: fixed;
  left: 0;
  display: flex;
  width: 100%;
  margin-top: 140px;
  background-color: rgb(1, 1, 122);
}

.text-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.blue-box {
  text-align: center;
}

.blue-box h2 {
  color: white;
  font-size: 3em;
}

.explore-button {
  background-color: rgb(89, 92, 186);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.explore-button:hover{
  background-color: rgb(25, 29, 168);
  color: rgb(255, 255, 255);
  transition: .8s;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.image-container img {
  width: 100%;
  height: 100%;
}