.home-page {
    color: rgb(255, 255, 255); 
    display: flex;   
}

.home-navbar {
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 65px;
    margin-top: 47px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.div-logo {
    width: 180px;
}

.div-logo img {
    max-width: 100%;
    height: auto;
    margin-left: 30px;
}

.div-searchbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.div-searchbar input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    font-size: 16px;
    color:black;
  }

.div-searchbar button {
    background-color:  rgb(48, 48, 121);
    color: #fff;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.div-searchbar button:hover {
    background-color: #7496b8;
  }

.div-form {
    width: 150px;
    color:white;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.div-form a:hover {
    color: rgb(99, 169, 210)
}

.div-form a {
    text-decoration: none;
    color: white;
}

/*-----------------FILTERS-DIV--------------------------------*/

.div-filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
    position: fixed;
    left: 0;
    top: 114px;
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  

  /*-----------------CARDS-DIV--------------------------------*/


.div-cards {
  flex-grow: 1;
  margin-left: 270px; /* Ancho de la sidebar + espacio de separación */
  margin-top: 120px; /* Espacio de separación desde la navbar */
}

/* .no-results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: red;
}

.no-results-text {
    font-size: 20px;
    text-align: center;
    margin-left: 180%;
} */

.no-results img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
