@import "../../Styles/colors.css";

.card-background {
    background-color: var(--color-cards); 
  }

.color-input {
  color: var(--color-input);
} 

.color-strong {
    color: var(--color-text);
  }