.navbar-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(1, 1, 122);
    height: 45px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar-home a {
    text-decoration: none;
}

.backToLanding {
    margin-left: 10px;
}

.button-about {
    color: white;
    margin-right: 20px;
}

.button-about:hover {
  cursor: pointer;
  opacity: 0.8;
}

.icon-home {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.icon-home svg {
    font-size: 25px;
    color: white;
}

/*______*/

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}
  
  
  .auth-buttons {
    display: flex;
    align-items: center;
  }
  
  .button-signin,
  .button-signup {
    color: white;
    margin-left: 30px;
    /* background-color: #70769c; */
    padding: 1px 9px;
    border-radius: 4px;

  }
  
  .button-signup {
    margin-left: 19px;
    margin-right: 19px;
    /* background-color: #a76560; */
  }
  
  .button-signin:hover,
  .button-signup:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .icon-cart {
      display: flex;
      align-items: center;
      margin-right: 25px;
  }
  
  .icon-cart svg {
      font-size: 28px;
      color: white;
  } 