@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.piepagina {
  width: 100%;
  background-color: #0d2a46;
  margin-top: 9%;
}

.grupo1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  max-width: 93%;
  /* gap: 40px; */
}

.grupo1 .box {
  width: calc((100% - 150px) / 4);
  text-decoration: none;
}

.grupo1 .logo {
  width: 80%;
  height: 50px;
  background-image: url("./logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
  border-radius: 30px;
  margin-top: 10px;
}

.grupo1 .RedSocial {
  display: flex;
  gap: 10px;
}

.grupo1 .RedSocial a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: #0d2a46;
  font-size: 24px;
  transition: all 300ms ease;
}

.grupo1 .RedSocial a:hover {
  background-color: #45cfc467;
  border-radius: 50%;
}

.grupo1 h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.grupo1 p {
  color: #efefef;
  margin-bottom: 10px;
}

.grupo1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grupo1 ul li {
  margin-bottom: 5px;
}

.grupo2 {
  width: 100%;
  background-color: #153a5c;
  text-align: center;
  padding: 11px 0;
  color: #fff;
}

.grupo2 small {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .grupo1 .box {
    width: calc(100% - 20px);
    margin-bottom: 30px;
  }

  .grupo1 .logo {
    margin-bottom: 10px;
  }
  
  .grupo1 .box:first-child {
    margin-right: 0;
  }
  
  .grupo1 .box:last-child {
    margin-left: 0;
  }
  
  .grupo1 .box:nth-child(4) {
    margin-right: 0;
  }
  
  .grupo1 .box:nth-child(3) {
    margin-left: 0;
  }
  
  .grupo1 .box:nth-child(2) {
    margin-right: 0;
  }
  
  .grupo1 .box:nth-child(1) {
    margin-left: 0;
  }
  
  .grupo1 .box:nth-child(4),
  .grupo1 .box:nth-child(3),
  .grupo1 .box:nth-child(2),
  .grupo1 .box:nth-child(1) {
    width: calc(50% - 10px);
    margin-bottom: 30px;
  }
}

.box {
  
  text-align: left;
}

.box ul li a {
  color: #fff;
  text-decoration: none;
  text-align: left;
}

.box ul li a:hover {
  /* background-color: #4a8aaf; */
  color: #217381;
  text-align: left;
}

.grupo1 .xxxx > * {
  margin-right: 10px;
  color: #efefef;
}