.user-profile {
  position: relative;
  cursor: pointer;
}

.profile-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 20px;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.profile-icon:hover {
  background-color: #f5f5f5; /* Cambia el color de fondo al pasar el mouse */
}

.profile-icon .icon {
  width: 29px;
  height: 29px;
  color: #342e8a;
}

.user-card {
  position: absolute;
  top: calc(100% + 3px); /* Ajuste para que la tarjeta se superponga directamente al icono */
  right: 0;
  background-color: #d2e0e0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;

}

.user-profile:hover .user-card {
  opacity: 1; /* Muestra la tarjeta al pasar el mouse sobre el perfil */
  visibility: visible; /* Hace visible la tarjeta */
}

.card-profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-info {
  flex-grow: 1;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #888;
}

.user-email {
  font-weight: bold;
  font-size: 14px;
  color: #888;
}

.logout-button {
  border: none;
  background-color: transparent;
  color: #888;
  cursor: pointer;
  font-weight: bold;
}

.user-name:hover {
  color: #1e6b75;
}

.logout-button:hover {
  text-decoration: none;
  color: #267b86;
}

.user-icon {
  display: flex;
  align-items: center;
  width: 30px;
  height: 45px;
}
